.smooth {
    transition: all 1s ease-in;
  }
  
.based{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.based .maintitle{
    font-family:'Karla', sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

svg {
    width: 500px;
    height: 200px;
    margin:0px;
    
}
.based .maintitle h1{
    margin: 0;
}
.based .temptime p{
    font-family: 'Metal', serif;
    font-size: 24px;
    margin-top: 0;
}


.iAm {
    margin-bottom: 0;
}  
.iAm .maintitle {
    font-family:'Karla', sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
    padding: 0;
}

.iAm .mainbody p{
    margin-top:0;

    font-family: 'Metal', serif;
    font-size: 24px;
}

.iAm .currentRead {
    margin-top: 0;
    margin-bottom:0;
}
.doYou .maintitle {
    font-family:'Karla', sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
}

.doYou .mainbody p{
    margin-bottom: 0;

    font-family: 'Metal', serif;
    font-size: 24px;

}